<ul>
  {{#each model as |article|}}
    {{article-tile article=article update="update" destroyArticle="destroyArticle"}}
  {{/each}}
</ul>

{{new-article save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

<!-- 
{{#everyNth model}}
{{/everyNth}}

{{#everyNth article 3}}
  {{#if isModZeroNotFirst}}
    </div>
  {{/if}}
  {{#if isModZero}}
    <div class="row">
  {{/if}}
  <div class="col-sm-4">
    <div class="thumb">
      {{article-tile article=article update="update" destroyArticle="destroyArticle"}}
    </div>
  </div>
  {{#if isLast}}
    </div>
  {{/if}}
{{/everyNth}} -->
