<ul>
  <div class="row">
    {{#each model as |article|}}
      <div class="col-sm-4">
        {{article-tile article=article update="update" destroyArticle="destroyArticle"}}
      </div>
    {{/each}}
  </div>
</ul>

{{new-article save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
